<div id="mosaic">

	<div id="header">
		<h1 id="draftee_name">Draftee Name</h1>
		<span id="social_media_icons">
			<%= link_to image_tag("social_media_icons/facebook.png", alt: "Facebook"), mosaic_path %>
			<%= link_to image_tag("social_media_icons/instagram.png", alt: "Instagram"), mosaic_path %>
			<%= link_to image_tag("social_media_icons/twitter.png", alt: "Twitter"), mosaic_path %>
		</span>
	</div>

	<div id="masonry-container" class="transitions-enabled centered infinite-scroll clearfix masonry">

		<div class="box">
		  <%= image_tag("food/food1.jpeg", :alt => "food1") %>
		</div>
		     
		<div class="box">
		  <%= image_tag("food/food2.jpeg", :alt => "food2") %>
		</div>
		     
		<div class="box">
		  <%= image_tag("food/food3.jpeg", :alt => "food3") %>
		</div>

		<div class="box">
		  <%= image_tag("food/food4.jpeg", :alt => "food4") %>
		</div>

		<div class="box">
		  <%= image_tag("food/food5.jpeg", :alt => "food5") %>
		</div>

		<div class="box">
		  <%= image_tag("food/food6.jpeg", :alt => "food6") %>
		</div>

		<div class="box">
		  <%= image_tag("food/food7.jpeg", :alt => "food7") %>
		</div>

		<div class="box">
		  <%= image_tag("food/food8.jpeg", :alt => "food8") %>
		</div>

		<div class="box news">
		  <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
		  <p>Vestibulum volutpat, lacus a ultrices sagittis,</p>
		  <ul>
		    <li>Lacus a ultrices sagittis</li>
		    <li>Democratis</li>
		    <li>Plummus</li>
		  </ul>
		</div>

	  <div class="box tweet">
	    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>
	  </div>

    <div class="box insta">
	    <p>
	      <a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr"><img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" /></a>
	    </p>
	  </div>

	</div>
</div>
