 
<h1>Draft Candidates</h1>

<table border= "1" >
  <col width="120">
  <col width="120">
  <col width="120">
  <col width="120">
  <col width="120">
  <tr>
    <th>Draft Candidate</th>
    <th>Twitter</th>
    <th>Instagram</th>
  </tr>
  <% @draftees.each do |draftee| %>
  <tr>
    <th><%= link_to draftee.name, draftee_url(draftee) %></th>
    <th>@<%= draftee.twitter %></th>
    <th><%= draftee.instagram %></th>
    <th><%= link_to "Edit", edit_draftee_path(draftee) %></th>
    <th><%= link_to "Delete", draftee, method: :delete, data: { confirm: "You sure?" } %></th>
  </tr>
  <% end %>
</table>

<%= link_to "+ New candidate", 'draftees/new' %>
