<!DOCTYPE html>
<html>

  <head>
    <title>Hey76</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
      
<!--       <nav id="page-nav">
        <a href="../pages/2.html"></a>
      </nav> -->
      
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
